body {
 background-color: #000000;
 font-family: Helvetica, Arial, sans-serif;
 font-size: 22px;
 color: seashell;
 opacity: 0.9;
 text-align: center;
}

#logo {
  height: 50px;
  padding-left: 10px;
}

.container {
  display: flex;
  position: relative;
}

#fixed-header {
  width: 100%;
  height: 69px;
  flex-shrink: 1;
  border-bottom: 1px solid seashell;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
    width: 100%;
}

.nav-links > li {
  display: inline;
  padding: 0 5;
  text-decoration: underline;
}

.mission {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  max-width: 1200px;
  align-items: center;  
}

h4 {
  z-index: 2;
}

.mission-outline {
  background-color: #000000;
  align-content: center;
  width: 100%;  ;
}